.banner {
    position: relative;
    width: 100%;
    height: 300px;
    left: 0px;
  }
  .judulbanner {
    position: absolute;
    left: 456px;
    top: 124px;
  }
  .subtitle1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 96px;
  
    color: #edf11b;
  }
  .subtitle2 {
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  
    color: #de5406;
  }
  .bgnav {
    background: red !important;
  }
  .kategori-title {
    position: relative;
    background: #ffc5a4;
  
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
  }
  .subkategori {
    background: #fdeadf;
    color: #cf5612;
    font-size: 18px;
    font-family: cursive;
    line-height: 25pt;
    padding: 2px;
  }
  .bgcardbody {
    background: #ffc5a4 !important;
    padding: 1px !important;
  }
  .harga {
    color: #aa4208;
  }
  .btndetail {
    background: #ff8743;
    border: 3px solid #ff8743;
    box-sizing: border-box;
    color: white;
    text-align: center;
  }
  